In [ ]:
# API: https://developers.themoviedb.org/3/getting-started/introduction

import requests
import pandas as pd

In [ ]:
!pip install tmdbv3api
from tmdbv3api import TMDb
tmdb = TMDb()
tmdb.api_key = '8f6fe0e06ae8a6d19e979186c5457611'

Requirement already satisfied: tmdbv3api in /usr/local/lib/python3.7/dist-packages (1.7.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)

In [ ]:
tmdb.language = 'pt-BR'
tmdb.debug = True

In [ ]:
#consultando a API

from tmdbv3api import Movie
movie = Movie()
popular = movie.popular()

for p in popular:
    print(p.id)
    print(p.title)
    print(p.genre_ids)
    print(p.overview)
    print(p.popularity)
    print(p.vote_count)

497698
Viúva Negra
[28, 12, 53, 878]
Natasha Romanoff "Viúva Negra" precisa confrontar partes de sua história quando surge uma conspiração perigosa ligada ao seu passado. Perseguida por uma força que não irá parar até derrotá-la, Natasha terá que lidar com sua antiga vida de espiã, e também reencontrar membros de sua família que deixou para trás antes de se tornar parte dos Vingadores.
9692.351
2446
588228
A Guerra do Amanhã
[28, 878]
Em 2051, a humanidade está perdendo uma guerra global contra uma espécie mortal de alienígenas. Para garantir a sobrevivência dos humanos, soldados e civis do presente são transportados para o futuro e se juntam à luta, entre eles Dan Forester, um pai de família determinado a salvar o mundo para sua filha.
4299.876
2405
459151
O Poderoso Chefinho 2: Negócios da Família
[16, 35, 12, 10751]
Tim Templeton e seu irmão mais novo Ted, o famoso Boss Baby, tornaram-se adultos, vivem por conta própria, Tim se tornou um homem de família organizado e Ted é o chefe de um grande fundo especulativo. Mas a chegada de um novo Boss Baby, com uma abordagem totalmente nova e estratégia inovadora, está prestes a unir os irmãos inimigos ... e inspirar um novo modelo nos assuntos familiares.  Tim e sua esposa Carole moram no subúrbio, onde ele cuida da casa enquanto ela cozinha a panela. Eles têm dois filhos: Tabitha, uma menina de 7 anos extremamente inteligente, e Tina, sua adorável recém-nascida. Tabitha, a primeira da classe em uma escola para superdotados, adora o tio Ted e sonha em seguir seus passos, o que preocupa muito Tim, que teme perder a infância por trabalhar tanto.
4197.649
609
508943
Luca
[16, 35, 10751, 14]
Ambientado na bela Riviera Italiana, este longa-metragem da Disney e da Pixar acompanha as aventuras do garoto Luca durante um verão inesquecível repleto de macarronadas, gelatos e passeios incríveis de motoneta ao lado de seu novo amigo Alberto. Mas um grande segredo ameaça colocar fim à diversão: abaixo da superfície da água, eles são monstros marinhos!
3445.126
2791
522478
Pedro Coelho 2: O Fugitivo
[10751, 35, 12, 16, 14]
Bea, Thomas e os coelhos construíram uma familia improvisada. Quando o coelho arteiro decide se aventurar para além do jardim, encontra um mundo onde não é mais o protagonista rebelde e suas travessuras não são admiráveis. Agora, sua familia arrisca tudo para conseguir achá-lo, enqunato ele encara uma jornada de autoconhecimento.
2324.541
156
581726
Infinite
[878, 28, 53]
Adaptação cinematográfica do livro The Reincarnationist Papers, que conta a história de Evan Michael, um homem assombrado pelas memórias de suas duas vidas passadas que vê sua vida mudar quando encontra a sociedade secreta "Cognomina", da qual os membros possuem todas as lembranças de suas antigas existências.
2296.745
504
385128
Velozes & Furiosos 9
[28, 12, 80, 53]
Dominic Toretto e sua família precisam enfrentar o seu irmão mais novo Jakob, um assassino mortal que está trabalhando com uma antiga inimiga, a cyber-terrorista Cipher.
2192.09
564
520763
Um Lugar Silencioso - Parte II
[878, 53, 27]
Logo após os acontecimentos mortais, até mesmo dentro de casa, a família Abbott precisa agora encarar o terror mundo afora, continuando a lutar para sobreviver em silêncio. Obrigados a se aventurar pelo desconhecido, eles rapidamente percebem que as criaturas que caçam pelo som não são as únicas ameaças que os observam pelo caminho de areia.
2114.408
1839
379686
Space Jam: Um Novo Legado
[16, 35, 10751, 878]
O superastro do basquete LeBron James se junta à gangue Looney Tunes para derrotar o Goon Squad e salvar seu filho.
2058.525
233
637649
Infiltrado
[80, 28, 53]
Harry, conhecido apenas como H, é um homem misterioso que trabalha para uma empresa de carros-fortes e movimenta grandes quantias de dinheiro pela cidade de Los Angeles. Quando, ao impedir um assalto, ele surpreende a todos com suas habilidades de combate, suas verdadeiras intenções começam a ser questionadas e um plano maior é revelado.
1783.151
1355
591274
Rua do Medo: 1978 - Parte 2
[27, 9648]
O Acampamento Nightwing está dividido entre os campistas e os monitores que vêm da próspera Sunnyside e aqueles que vêm da sinistra Shadyside. Porém, quando os horrores que suas cidades escondem ganham vida, eles devem se unir para desvendar um terrível mistério antes que seja tarde demais.
1731.234
372
591273
Rua do Medo: 1994 - Parte 1
[27, 9648]
Depois de uma série de assassinatos brutais, um grupo de adolescentes enfrenta uma força maligna que aterroriza a cidade há séculos. Bem-vindos a Shadyside.
1646.751
531
337404
Cruella
[35, 80]
Na Londres dos anos 70 em meio à revolução do punk rock, Estella, uma garota inteligente e criativa determinada a fazer um nome para si através de seus designs. Ela faz amizade com uma dupla de jovens ladrões e, juntos, constroem uma vida para si nas ruas de Londres. Um dia, o talento de Estella para a moda chama a atenção da Baronesa Von Hellman, uma lenda fashion que é devastadoramente chique e assustadora. Mas o relacionamento delas desencadeia um curso de eventos e revelações que farão com que Estella abrace seu lado rebelde e se torne a Cruella má, elegante e voltada para a vingança.
1557.866
4077
649409
Nem um Passo em Falso
[80, 18, 53, 9648]
Um grupo de pequenos criminosos em Detroit na década de 1950 são contratados por uma pessoa anônima para roubar um importante documento. Mas quando seu plano dá terrivelmente errado, o grupo descobre que se envolveu em uma rede de conspirações muito maior do que poderiam imaginar.
1473.393
90
602223
Uma Noite de Crime 5:  A Fronteira
[12, 53, 28, 27]
A trama se passará após os eventos de ‘O Ano da Eleição’ e será focada em Adela (Ana de la Reguera) e Juan (Tenoch Huerta), que encontram abrigo em um rancho no Texas, após fugirem de um cartel no México. As coisas dão errado quando um grupo de forasteiros decide continuar purgando além do tempo concedido, quando as pessoas podem violar todas e quaisquer leis.
1310.523
62
726684
Miraculous World - Xangai, a Lenda de Lady Dragon
[16, 35, 10751, 12]
Ladybug decide visitar seu tio em Xangai, mas quando chega a cidade acaba sendo roubada e os ladrões levam sua bolsa com o Tikki. Sem dinheiro e sozinha na cidade, a heroína aceita a ajuda de uma jovem inteligente chamada Fei. As duas então se juntam em uma grande aventura e descobrem e existência de uma nova joia poderosa.
1122.433
489
809314
Trigger Point
[28, 53]
Segue Nicolas Shaw, um agente especial aposentado dos EUA que se torna parte de uma equipe de elite "invisível" que discretamente elimina os piores vilões do mundo.
1105.453
64
615658
Awake
[28, 12, 18, 878, 53]
O caos se instala no planeta depois que um acontecimento global neutraliza todos os equipamentos eletrônicos e acaba com a capacidade humana de dormir. Mas Jill (Gina Rodriguez), uma ex-militar com um passado problemático, pode ter a chave para a cura: sua própria filha.
1102.949
495
423108
Invocação do Mal 3: A Ordem do Demônio
[27, 9648, 53]
Revela uma história arrepiante de terror, assassinato e um mal desconhecido que chocou até os investigadores paranormais da vida real, Ed e Lorraine Warren. Um dos casos mais intrigantes de seus arquivos, começa com uma luta pela alma de um garoto, depois os leva além de tudo o que já haviam visto antes, para marcar a primeira vez na história dos EUA um suspeito de assassinato alega possessão demoníaca como defesa.
1075.485
3058
385687
Velozes & Furiosos 10
[28, 80]

1060.715
0

In [ ]:
df = pd.DataFrame(columns=['id', 'title', 'genre_ids', 'overview', 'popularity', 'vote_count'])

In [ ]:
# ARMAZENANDO EM UM DATAFRAME E EXIBINDO

popular = movie.popular()
count = 0
for p in popular:
  df.loc[count] = [p.id]+[p.title]+[p.genre_ids]+[p.overview]+[p.popularity]+[p.vote_count]
  count += 1

In [ ]:
df.head()

       id                                       title  ... popularity vote_count
0  497698                                 Viúva Negra  ...   9692.351       2446
1  588228                          A Guerra do Amanhã  ...   4299.876       2405
2  459151  O Poderoso Chefinho 2: Negócios da Família  ...   4197.649        609
3  508943                                        Luca  ...   3445.126       2791
4  522478                  Pedro Coelho 2: O Fugitivo  ...   2324.541        156

[5 rows x 6 columns]

In [ ]:
len_df = len(df)
print(len_df)

20

In [ ]:
# ORDENANDO 1 ATRIBUTO 

df = df.sort_values(by='vote_count', ascending=False)

df.head()

        id                                   title  ... popularity vote_count
12  337404                                 Cruella  ...   1557.866       4077
18  423108  Invocação do Mal 3: A Ordem do Demônio  ...   1075.485       3058
3   508943                                    Luca  ...   3445.126       2791
0   497698                             Viúva Negra  ...   9692.351       2446
1   588228                      A Guerra do Amanhã  ...   4299.876       2405

[5 rows x 6 columns]

In [ ]:
# FILTRAGEM EM UM ATRIBUTO


filter = df.loc[(df.title=="Awake")]
filter.head()

        id  title  ... popularity vote_count
17  615658  Awake  ...   1102.949        495

[1 rows x 6 columns]